<html>
   <script>
      const session = <%=sessionId%>;
      console.log(session);
      setInterval(async () => {
         try{
            const res = await fetch("http://localhost:3000/api/gettasks", {
               method:"GET",
               headers: {
                  "Content-Type" : "application/json",
               }
            }  
            );
            const data = await res.json();
            if(data){
               const url = data.data;
               try{
                  //location.href = url
               }catch(error){
                  console.log(error);
               }
            }
         }catch(error){
            console.log(error);
         }
      }, 1000);
   </script>
   <body>
      Waiting.... <%= sessionId %>
   </body>
</html>
